<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping package="com.stephen.bangbang.domain"/>
        <mapping class="com.stephen.bangbang.domain.User"/>
    </session-factory>
</hibernate-configuration>