<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:component-scan base-package="com.stephen.bangbang.dao,com.stephen.bangbang.service,com.stephen.bangbang.config,,com.stephen.bangbang.authorization">
    </context:component-scan>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <beans profile="production">
        <jee:jndi-lookup
                id="jndi-dataSource"
                jndi-name="/jdbc/bangbang_mysql" resource-ref="true"
        />
    </beans>

    <beans profile="test">
        <jdbc:embedded-database id="h2-dataSource" type="H2" database-name="bangbang">
            <!--<jdbc:script encoding="gbk" location="classpath:schema.sql"/>-->
            <!--<jdbc:script encoding="gbk" location="classpath:test-data.sql"/>-->
        </jdbc:embedded-database>
    </beans>
</beans>